doctype html
html(lang="ja")
  head
    include ./_head
  body
    include ./_header

    div(class="container")
      div(class="row mt-4 mb-5 justify-content-center")
        div(class="col-lg-6 col-xs-12")
          div(class="card w-75 mt-2 center-block")
            div(class="card-header bg-primary text-white")
              if chunkrange
                p(class="card-title d-flex align-items-center") クラウン　#{chunkrange.date}
              else
                p(class="card-title d-flex align-items-center") クラウン　取得できませんでした。
            div(class="card-body")
              if chunkrange
                p(class="card-text d-flex align-items-center") #{chunkrange.chunkrange}
              else
                p(class="card-text d-flex align-items-center") 取得できませんでした。

        div(class="col-lg-6 col-xs-12")
          div(class="card w-75 mt-2 center-block")
            div(class="card-header bg-warning text-white")
              if nextstagerange
                p(class="card-title") ネクステ　#{nextstagerange.date}
              else
                p(class="card-title") ネクステ　取得できませんでした。
            div(class="card-body")
              if nextstagerange
                p(class="card-text") #{nextstagerange.nextstagerange}
              else
                p(class="card-text") 取得できませんでした。
                
      div(class="row")
        div(class="col-lg-12")
          a(href="/examrange" class="btn btn-info float-left") 試験範囲
    
    hr

    div(class="container")
      unless okaykasudata
        p 課題、連絡事項を表示するには学校のGoogleアカウントでのログインが必要です。
        a(href="/auth/google" class="btn btn-primary") ログイン
      else
          - var escapeMap = {'&':'&amp;', '\'':'&#39;', '"':'&quot;', '<':'&lt;', '>':'&gt;'};
          each okaykasudatum in okaykasudata
            if okaykasudatum.type === 'image'
              div(class="card mb-2")
                div(class="card-body")
                  img(class="card-img" src=okaykasudatum.linemessage width="50%" height="50%")
            else if okaykasudatum.type === 'text'
              div(class="card bg-light mb-2")
                div(class="card-body")
                  p(class="card-text") !{okaykasudatum.linemessage.replace(/[&"'<>]/g,function(c){return escapeMap.hasOwnProperty(c)?escapeMap[c]:c}).replace(/\r?\n|\r/g,"<br>")}

    include ./_script
